/*
	jsrepo 1.29.1
	Installed from https://reactbits.dev/default/
	29.01.2025
*/

.squares-canvas {
	width: 100%;
	height: 100%;
	border: none;
	display: block; /* Remove default margin/padding of canvas */
}
