@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
:root{
    --mainColor:"white",
    --secondaryColor:"black",
    
}




a{
    text-decoration: none;
    color: white;
}


body{
    margin: 0;
    box-sizing: border-box;
    background-image: url('/elements/2k_stars_milky_way.jpg');
    background-size: cover;
}

ul,li,ol{
    list-style: none;
}






@keyframes rightSlide{
    0%{}
    100%{
      transform: rotate(-105deg);
      filter: drop-shadow(0px 0px 15px rgb(163, 1, 1));
    }
  }
  