.edumode{
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background: black;
}

.edumode::-webkit-scrollbar{
    display: none;
}




.eduside{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 50vw;
    overflow: hidden;
    font-family: 'Orbitron','sans-serif';
    letter-spacing: 2px;
    position: relative;

    transition: all .5s ease;
    color: white;

    &_active{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 50vw;
        overflow: hidden;
        font-family: 'Orbitron','sans-serif';
        letter-spacing: 2px;
        color: white;
        position: fixed;
        transition: all .3s ease;
        animation: choise 3s 1 forwards;
        z-index: 1000;

    }

    &_desc{
        color: white;
        position:absolute;
         top: 10vh;
         font-family: Arial;
         font-size: 12px;
         opacity: .5;
    }


  }

  .eduside:hover{
  font-size: 110%;

  }




.beam{
    width: 1px;
    height: 100vh;
    background-color: white;
    border: 35px;
    opacity: 0.2;
    box-shadow: 0px 0px 15px white;
    animation: slowUp 3s 1;
}


.bubble{
    width: 20px;
    height: 20px;
    background-color: green;
    animation:rise 6s 1 ;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index:0;

}


.starcode{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 100vh;


  &_about{
   
    min-height: 100vh;
    display: flex;
    margin-bottom: 100px;

    &_modules{
      position: relative;

      width: 100vw;
      margin-top: 200px;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
&::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width:10%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px blue;
  height: 1px;
  background: blue;
  animation: linetoout 2s infinite;

}

      &_card{
       position: relative;

        transition: all .3s ease;
         &:hover{
          cursor: pointer;
          filter: brightness(1.8);
         }

        &_about{
          font-size: 14px;
          text-align: center;
          color: rgb(128, 128, 128);
        }
        &_price{
          font-size: 2.5rem;

          & sup{
            font-size: 14px;
          }
        }

        &_btn{
          width: 35%;
          height: 35px;
          border-radius: 5px;
          outline: none;
          border: none;
          background: linear-gradient(120deg,rgb(106, 109, 255),blue);
          color: white;
          font-size: 15px;
          transition: all .5s ease;


          &:hover{
            cursor: pointer;
            background: blue;
          }
        }

        & h3{
          font-size: 32px;
        }

        font-family: 'Arial';
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 320px;
        height: 400px;
       border-top: 2px solid rgba(255, 255, 255, 0.137);
        border-radius: 10%;
        background-image: linear-gradient(180deg,rgb(14, 14, 14),rgba(0, 0, 0, 0.199));
        color: white;
        backdrop-filter: blur(5px);
      }
    }

    &_head{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: 40vh;
   
      &_heading{
        font-size:34px;
        position: relative;
        font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;




      }
    }



    &_box{
      &:hover{
         animation-play-state: paused;
       }
      width: 200px;
      height: 200px;
      transform-style:preserve-3d ;
      position: relative;
      animation: carousel 20s linear infinite;



  & span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) *45deg)) translateZ(400px);

    border-radius: 18px;

    // box-shadow: 0px 0px 3px white;
    // backdrop-filter: blur(10px);

    & img{

      position: absolute;
      width: 60%;
      height: 60%;
      top: 25%;
      left: 25%;





    }
  }

    }

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  &_info{

    position: relative;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;



    &_head{
      text-align: left;
      font-family: serif;
      font-family: "Poppins", serif;
      font-size: 2rem;
    }

    &_cardcontainer{

      display: flex;
    padding-top: 5%;
      justify-content: space-around;
      align-items: center;
     min-height: 100vh;
      width: 70vw;
      gap: 3%;
      flex-wrap: wrap;
      

    }
    &_card{

    

      &_icon{
      
        text-align: center;
        align-content: center;
        font-family: Poppins;
        width: 250px;
        height: 250px;
        border-radius: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
         border-top:3px solid rgb(26, 26, 26);
        position: relative;
        //background: black;
        background: linear-gradient(170deg,rgb(27, 27, 27),black);
       overflow: hidden;
       transition: all .2s ease;
      
       &:hover{
            filter: brightness(1.4);
            cursor: pointer;
            transform: scale(1.03);
       }
   &::after{
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.281);
    filter: blur(30px);
    left: calc(50% - 25px);
    bottom: 50%;
   }

      }
   
      &_desc{
        font-size: 10px;
        width: 80%;
        border: 1px solid rgb(26, 26, 26);
        padding: 10px;
        border-radius: 10px;
        color: rgb(173, 173, 173);
      }

    }



  }

//    background-image: linear-gradient(150deg,rgba(78, 0, 180, 0.315),rgb(0, 0, 0));
    // backdrop-filter: blur(75px);
   & header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;

   }





    &_heading{

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        text-align: center;
        align-content: center;
        font-size: 8rem;
        color: transparent;
        font-family: Arial;
        letter-spacing: 2px;
        background-clip: text;
        background-image:linear-gradient(120deg,rgb(162, 252, 232),white,rgb(250, 216, 250)) ;
        animation: fade 4s 1;

        &_design{
            width: 85px;
            margin-top: 20%;
            animation: rotating 15s infinite linear;
            opacity: .9;
        }
    }

    &_main{

        z-index: 0;
        width: 100%;
        min-height:  100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        background-image: radial-gradient(ellipse 200px 600px at top ,rgba(0, 0, 255, 0.932),transparent),
        radial-gradient(ellipse 250px 250px at 50% 60% ,rgb(0, 0, 255),black,transparent );

        &::after{
          position: absolute;
          backdrop-filter: blur(55px);
          z-index: -1;

          content: "";
          width: 100vw;
          height: 100vh;
        }


    }

    &_title{
        font-family: "Roboto Mono", serif;
    }

    &_start{
        box-shadow: 0px 0px 5px rgb(0, 90, 90);
        min-width: 80px;
        width: 8vw;
        font-size: .8rem;
        height: 40px;
        border-radius: 8px;
        background: none;
        background-image: linear-gradient(120deg,rgb(0, 97, 76),black,rgb(70, 0, 70));
        transition: all .2s ease;
        border: none;
        color: white;

        &:hover{
              box-shadow: 0px 0px 5px rgb(0, 255, 255);
           cursor: pointer;
        }


    }
}

.form{
   background: black;
    animation: blink 3s 1;
    width: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

  
    justify-content: center;
    gap: 30px;
    backdrop-filter: blur(30px);
    position: fixed;
    top: calc(50% - 40vh);
    border-radius: 5px;

    z-index: 100;



  &_close{
    position: absolute;
    right: 7%;
    top: 4%;
    opacity: 0.5;
transition: all .3s ease;
    &:hover{
        cursor: pointer;
        opacity: 1;

    }
  }
    &_design{
        height: 100%;
        width: 1px;
        position: absolute;
        left: 49%;
        background-color: rgba(17, 0, 255, 0.192);
        z-index: -2;

        &_prog{
            position: absolute;
            top: 0;
            width:1px;
            border-radius:30px ;
            background-color: rgba(255, 255, 255, 0.493);
            animation: line 5s infinite linear;
             height: 10%;
            z-index: -1;
             box-shadow: 0px 0px 15px 3px blue;

        }
    }

    &_send{
        width: 32%;
        height: 45px;
        background:none;
        box-shadow: 0px 0px 5px 2px rgb(92, 0, 131);
        backdrop-filter: blur(10px);
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
      font-family: monospace;
  transition: all .2s ease;
        &:hover{
            cursor: pointer;
            background-color: white;
            color: black;

        }
    }

    & p{
        font-size: 12px;
        text-transform: uppercase;
    }

    & input[type="text"]{
        width: 50%;
        height: 50px;
        background:none;
        outline: none;
        border: none;
        text-align: center;
        color: white;
        backdrop-filter: blur(10px);
        box-shadow:  0px 0px 3px rgb(0, 0, 99);
        border-radius: 10px;
        backdrop-filter: blur(30px);

         &::placeholder{
            font-size: 11px;
            letter-spacing: 1px;



         }
        &:focus{
          box-shadow: 0px 0px 5px rgb(0, 0, 255);
        }

    }

    &_age{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        & input{
            width: 50px !important;
            height: 50px !important;
        }
   }

}


.back{
  width: 100vw;
  position: absolute;
  height: 100%;
  left: 0;
  z-index:-1;
  top: 0;
}


@keyframes aboutcard{
  0% {
    box-shadow: 0 2px 25px rgba(255, 0, 0, 0.7),
    0 -2px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  25% {
    box-shadow: 2 0px 35px rgba(255, 0, 0, 0.7),
    -2px 0px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  50% {
    box-shadow: 0 -2px 25px rgba(255, 0, 0, 0.7),
    0 2px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  75% {
    box-shadow: -2px 0 35px rgba(255, 0, 0, 0.7),
    2 0 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  100% {
    box-shadow: 0 2px 25px rgba(255, 0, 0, 0.7),
    0 -2px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }

}

@keyframes carousel{
      0%{
        transform: perspective(1000px) rotateY(0deg);
      }
      100%{
        transform: perspective(1000px) rotateY(360deg);
      }
    }

@keyframes linetoleft{
        0%{
          transform: translateX(300px);
        }
        100%{
          transform: translateX(-35vw);
        }
      }

@keyframes linetoright{
        0%{
          transform: translateX(-300px);
        }
        100%{
          transform: translateX(35vw);
        }
      }

@keyframes blinkbot{
        0%{
          opacity: 0;
        }
        40%{
          opacity: 0;
        }
        50%{
          opacity: 1;
        }
        90%{
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
      }


@keyframes lineforinfo{
  0%{
    transform: translateY(0);
    opacity: 0;

  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateY(25vh);
    opacity: 0;
  }
}
@keyframes infinityPath {
          0% {
              opacity: 1;
            transform: translate(-50%, 0) rotate(0deg) scale(5); /* Начало анимации */
            bottom: -100px;
            left: 50%;
          }
          25% {
              opacity: 1;
            transform: translate(200px, -200px) rotate(180deg) scale(3); /* Четверть пути */
            bottom: 50%;
            left: 50%;
          }
          50% {
              opacity: 1;
            transform: translate(0, -100%) rotate(360deg) scale(2); /* Половина пути */
            bottom: 100%;
            left: 50%;
          }
          75% {
              opacity: 1;
            transform: translate(-200px, 200px) rotate(540deg)  scale(1); /* Три четверти пути */
            bottom: 50%;
            left: 50%;
            opacity: 1;
          }
          100% {
            transform: translate(0, 0) rotate(0deg)  scale(1) translateX(-50%); /* Завершающий цикл */
            bottom: 0;
            left: 50%;
            opacity: 0.5;
          }

        }

@keyframes fade{
          0%{
            transform: scale(1.2);
            opacity: 0;
          }
      50%{
        transform: scale(1);
      }
          100%{

            opacity: 1;
          }
        }

@keyframes fadeout{
          0%{
            opacity: 0;
          }
          20%{
            opacity: 1;
          }
          60%{
            opacity: 1  ;
          }
          100%{
            opacity: 0;
          }
        }

@keyframes line{
    0%{
      transform: translateY(-50px);
    }

    70%{
        transform: translateY(700px);
        opacity: 1;
    }
    100%{
        transform: translateY(800px);
        opacity: 0;
    }
}

@keyframes blink{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes rotating{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes rise{
 0%{
    transform: translateY(0);
    opacity: 1;
 }
50%{
    transform: translateY(-50vh);
}
 100%{
    transform: translateY(-100vh);
    opacity: 0;
 }


}

@keyframes slowUp{
    0%{
        opacity: 1;
        width: 2px;
        height: 40vh;
        transform: translateY(80vh);
    }70%{
        opacity: 1;
        width: 2px;
        height: 40vh;
        transform: translateY(0);
    }
    100%{
      height: 100vh;
      width: 1px;
    }
}

@keyframes choise{
    0%{
        width: 50vw;
        background-color: black;

        }
        30%{
            width: 100vw;
            background-color: black;
            position: fixed;
            left: 0;
            top: 0;
        }
    50%{
        width: 100vw;
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;

    }

    70%{
        color: white;
        font-size: 20px;
    }
    100%{
        width: 100vw;
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;

       font-size: 30rem;
        color: black;

    }


}

@keyframes blur{
    0%{
        backdrop-filter: blur(150px);
    }
    25%{
        backdrop-filter: blur(50px);
    }
    70%{
        backdrop-filter: blur(150px);
    }


    90%{
        backdrop-filter: blur(5px);
    }
    100%{
        backdrop-filter: blur(75px);
    }
}

@keyframes linetoout{
  0%{
    transform: translateX(-10vw);
  }
  100%{
    transform: translateX(300vh);
  }
}

@keyframes linetobottom{
  0%{
    transform: translateY(-10vh);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  100%{
    transform: translateY(160vh);
    opacity: 0;
  }
}


@keyframes conic{
  0%{
 box-shadow: 0px 2px 15px blue,
      0px -2px 15px red;
  }
  25%{
    box-shadow: 2px 0px 25px blue,
    -2px 0px 25px white;
   }

  50%{
    box-shadow: 0px -2px 15px blue,
    0px 2px 15px white;
  }

  75%{
    box-shadow: 0px 2px 15px blue,
    0px -2px 15px white;
  }
  100%{
    box-shadow: 0px 2px 25px blue,
    0px -2px 25px red;
  }
}


@media screen and (max-width:600px){

   



   .starcode{

   &_start{
    
   }

   .bot{
    position: fixed;
    z-index: 1001 !important;

   }



   .form{
    position: fixed;
    width: 100vw;
    top: 0;
    left: calc(50% - 48vw);
   }


     &_about{



  &_head{
    height: 25vh;

    &_heading{
      font-size: 25px ;
      width: 200px;
      text-align: center;
     }

  }

      &_box{
            width: 100px;
            height: 100px;



            & span{
              transform: rotateY(calc(var(--i) *45deg)) translateZ(180px);
           width: 90px;
           height: 90px;
              & img{
                width: 40px;
                height: 40px;
                left: calc(50% - 20px);
                top: calc(50% - 20px);
              }
            }
          }

      &_modules{
        margin-top: 100px;
        margin-bottom: 100px;
         gap: 100px;
        flex-direction: column;

        &::after{
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          z-index: -1;
          height:10%;
          border-radius: 50%;
          box-shadow: 0px 0px 5px 2px blue;
          width: 1px;
          background: blue;
          animation: linetobottom 2s infinite;
        }


      }




     }

  &_info{
    
    &_head{
     text-align: center;
    }
    &_cardcontainer{
      margin-top: 5vh;
      padding-top: 5vh;
      width: 100vw;
      flex-direction: column;
      justify-content: flex-start;
      gap: 7vh;
      min-height: 250vh;
      overflow: hidden;

    }
  }

    &_main{
      min-height: 90vh;
      background-image: radial-gradient(ellipse 100px 600px at top ,rgba(0, 0, 255, 0.932),transparent),
      radial-gradient(ellipse 200px 200px at 50% 60% ,rgb(0, 0, 255),black,transparent );
      position: relative;


        &::after{
        position: absolute;
        top: 0;
        height:800px;
         }



    }

     &_heading{

        font-size: 4rem;
        &_design{
            width: 50px;
        }
    }

     &_title{
        width: 220px;
        text-align: center;
        font-size: 0.7rem;
     }

     &_start{
        font-size: 0.8rem;
        height: 45px;
        width: 140px;
         border-radius: 5px;
        animation: conic 10s infinite;
     }



   }


}