.edumode{
    display: flex;
    align-items: center;
    overflow-x: hidden;
    background: black;
}

.edumode::-webkit-scrollbar{
    display: none;
}



//EDU SIDE
.eduside{
    display: flex;
    align-items: center;

    flex-direction: column;
    min-height: 100vh;
    width: 50vw;
    overflow: hidden;
    font-family: 'Orbitron','sans-serif';
    letter-spacing: 2px;
    position: relative;
    transition: all .5s ease;
    color: white;
    justify-content: center;
    gap: 10px;
    &_active{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        width: 50vw;
        overflow: hidden;
        font-family: 'Orbitron','sans-serif';
        letter-spacing: 2px;
        color: white;
        position: fixed;
        transition: all .3s ease;
        animation: choise 3s 1 forwards;
        z-index: 1000;

    }

    &_desc{
         color: white;
         position:absolute;
         top: 10vh;
         font-family: Arial;
         font-size: 12px;
         opacity: .5;
    }


  }

.eduside:hover{
  font-size: 110%;

  }
.beam{
    width: 1px;
    height: 100vh;
    background-color: white;
    border: 35px;
    opacity: 0.2;
    box-shadow: 0px 0px 15px white;
    animation: slowUp 3s 1;
}

//EFFECTS
.bubble{
    width: 20px;
    height: 20px;
    background-color: green;
    animation:rise 6s 1 ;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index:0;

}


.chart{
  
   height: 80vh;
   display: flex;
   gap: 30px;
   flex-direction: column;
   align-items: center;
   justify-content:space-evenly ;

   & h3{
    font-size: 4rem;
   }
   &_title{
     width: 50vw;
     letter-spacing: 1px;
     text-align: center;
     font-size: 1.2rem;
     color: rgb(99, 99, 99);

   }

   &_stats{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
     &_purple{
      width: 30px;
      height: 30px;
      background-color: #82ca9d;
      position: relative;
      &::after{
        width: 200px;
        height: 40px;
        top: 20%;
        content: '- Starcode';
        position: absolute;
        left: 150%;
      }
     }

     &_cyan{
      width: 30px;
      height: 30px;
      background-color: #8884d8;
       position: relative;
      &::after{
        width: 200px;
        height: 40px;
        top: 20%;
        content: '- Digər kurslar';
        position: absolute;
        
        left: 150%;
      }
     }
     
   }

}



//PRIMARY PAGES

.starcode{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    min-height: 100vh;

    & header{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90%;
      margin: 0 auto;
  
     }

  &_about{
   
    min-height: 100vh;
    display: flex;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &_modules{
      position: relative;

      width: 100vw;
      margin-top: 100px;
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
&::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width:10%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 2px blue;
  height: 1px;
  background: blue;
  animation: linetoout 2s infinite;

}

      &_card{
       position: relative;

        transition: all .3s ease;
         &:hover{
          cursor: pointer;
          filter: brightness(1.8);
         }

        &_about{
          font-size: 14px;
          text-align: center;
          color: rgb(128, 128, 128);
        }
        &_price{
          font-size: 2.5rem;

          & sup{
            font-size: 14px;
          }
        }

        &_btn{
          width: 35%;
          height: 35px;
          border-radius: 5px;
          outline: none;
          border: none;
          background: linear-gradient(120deg,rgb(106, 109, 255),blue);
          color: white;
          font-size: 15px;
          transition: all .5s ease;


          &:hover{
            cursor: pointer;
            background: blue;
          }
        }

        & h3{
          font-size: 32px;
        }

        font-family: 'Arial';
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        width: 320px;
        height: 400px;
       border-top: 2px solid rgba(255, 255, 255, 0.137);
        border-radius: 10%;
        background-image: linear-gradient(180deg,rgb(14, 14, 14),rgba(0, 0, 0, 0.199));
        color: white;
        backdrop-filter: blur(5px);
      }
    }

    &_head{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
  
   
      &_heading{
        font-size:3rem;
        position: relative;
        font-family: "Poppins", serif;
        font-weight: 500;
        font-style: normal;
        
        & p{
          font-size: 1rem;
          color: gray;
          
        }



      }
    }

  



    

  }

  &_heading{

        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        text-align: center;
        align-content: center;
        font-size: 8rem;
        color: transparent;
        font-family: Arial;
        letter-spacing: 2px;
        background-clip: text;
        background-image:linear-gradient(120deg,rgb(162, 252, 232),white,rgb(250, 216, 250)) ;
        animation: fade 4s 1;

        &_design{
            margin-top: 20%;
            animation: rotating 15s infinite linear;
            opacity: .9;
        }
    }
   &_main{

        z-index: 0;
        width: 100%;
        min-height:  100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        background-image: radial-gradient(ellipse 200px 600px at top ,rgba(0, 0, 255, 0.932),transparent),
        radial-gradient(ellipse 250px 250px at 50% 60% ,rgb(0, 0, 255),black,transparent );
        &::after{
          position: absolute;
          backdrop-filter: blur(55px);
          z-index: -1;
          content: "";
          width: 100vw;
          height: 100vh;
        }


    }

  &_title{
          font-family: "Roboto Mono", serif;
         }

    &_start{
        box-shadow: 0px 0px 5px rgb(0, 90, 90);
        min-width: 80px;
        width: 8vw;
        font-size: .9rem;
        height: 50px;
        border-radius: 8px;
        background: none;
        background-image: linear-gradient(120deg,white 0,1%,rgb(68, 0, 255));
        transition: all .2s ease;
        border: none;
        overflow: hidden;
        color: white;
        position: relative;
        &:after{
         content: '';
         width: 8px;
         height: 50px;
         position: absolute;
         top: 0;
         left: 0;
         background-color: white;
         filter:blur(9px);
         animation: metallic 5s infinite linear;
        }
        &:hover{
              box-shadow: 0px 0px 5px rgb(0, 255, 255);
           cursor: pointer;
        }


    }
   
    &_info{
      position: relative;
      min-height: 100vh;
      width: 100vw;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      &_head{
        text-align: left;
        font-family: serif;
        font-family: "Poppins", serif;
        font-size: 2.5rem;
        font-weight: normal;
        margin: 15vh 0;

        & p{
          color: gray;
          font-size: 1rem;
        }
      }
      
      &_cardcontainer{
        display: flex;
        justify-content: space-evenly;
        gap: 3vh;
        width: 1000px;
        flex-wrap: wrap;
        align-items: center;
      }
       
      &_card{
        border-top: 2px solid rgb(17, 17, 17);
        width: 350px; 
        height: 450px;
        padding: 1% ;
        border-radius: 30px;
        background: linear-gradient(150deg,rgb(15, 15, 15),black);
        filter: brightness(1.5);
        transition: all .2s ease;
        &_head{
           height: 10%;
           display: flex;
           width: 95%;
           justify-content: flex-end;
           
           &_mark{
            width: 14%;
            height: 18px;
            border-radius: 10px;
            background-color: green;
            font-size: 12px;
            text-align: center;
            align-content: center;
            font-weight: normal;
           }
        }
     
        &_heading{
          font-size: 1.5rem;
          width: 80%;
          height: 10%;
          
          margin: 0 auto;
          font-family: Arial, Helvetica, sans-serif;
        }

        &_body{
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          padding: 15px;
          color: white;
         & div{
           border: 1px solid rgb(44, 44, 44);
           border-radius: 15px;
           width: 80px;
           padding: 5px;
           align-items: center;
           display: flex;
           justify-content: space-between;
          & span{
            font-size: 0.8rem;
            color: rgb(128, 128, 128);
          }
         }
          
        }
        &:hover{
          transform: translateY(-10px) scale(1.02);
        }
      }
  
     
  
  
  
    }
     
    &_footer{
 
        color: black;
        padding: 1%;
        min-height: 80vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
       background: whitesmoke;
        &_map{
          border-radius: 10px;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          gap: 1vh;
          width: 80vw;
          &_address{
            background:linear-gradient(120deg,rgb(117, 117, 117) 0,1%,black);
            border-radius: 5px;
            color: white;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: space-around;
            height: 100px;
           &_title{
            color: rgb(0, 47, 255);
            font-size: 1.2rem;
            text-transform:none;
           }

           & address{
            padding: 20px;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
            font-style: normal;
            font-size: 1rem;
            font-weight: bold;
           }
          }
        }

        &_info{
          
           display: flex;
           justify-content: space-around;
           width: 80vw;
          
           &_title{
             gap: 1vw;
             display: flex;
             align-items: flex-end;
           
              & h2{
                color: rgb(48, 48, 48);
                font-size: 1.5rem;
                text-transform: uppercase;
              }
             & img{
              border-radius: 50px;
              background-color: rgb(20, 20, 20);
             
             }
          }
          &_links{
            text-transform: capitalize;
            font-size: 0.8rem;
            display: flex;
            flex-direction: column;
            gap: 5px;
           text-decoration: underline;
           font-family: "Poppins", serif;
          }
          &_contacts{
             display: flex;
             flex-direction: column;
             gap: 10px;
             font-family: "Poppins", serif;
    
          }
          &_medias{
            display: flex;
            flex-direction: column;
          }
        }

    }
    
}

.form{
   background: black;
    animation: blink 3s 1;
    width: 500px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

  
    justify-content: center;
    gap: 30px;
    backdrop-filter: blur(30px);
    position: fixed;
    top: calc(50% - 40vh);
    border-radius: 5px;

    z-index: 100;



  &_close{
    position: absolute;
    right: 7%;
    top: 4%;
    opacity: 0.5;
transition: all .3s ease;
    &:hover{
        cursor: pointer;
        opacity: 1;

    }
  }
    &_design{
        height: 100%;
        width: 1px;
        position: absolute;
        left: 49%;
        background-color: rgba(17, 0, 255, 0.192);
        z-index: -2;

        &_prog{
            position: absolute;
            top: 0;
            width:1px;
            border-radius:30px ;
            background-color: rgba(255, 255, 255, 0.493);
            animation: line 5s infinite linear;
             height: 10%;
            z-index: -1;
             box-shadow: 0px 0px 15px 3px blue;

        }
    }

    &_send{
        width: 32%;
        height: 45px;
        background:none;
        box-shadow: 0px 0px 5px 2px rgb(92, 0, 131);
        backdrop-filter: blur(10px);
        color: white;
        border-radius: 10px;
        outline: none;
        border: none;
      font-family: monospace;
  transition: all .2s ease;
        &:hover{
            cursor: pointer;
            background-color: white;
            color: black;

        }
    }

    & p{
        font-size: 12px;
        text-transform: uppercase;
    }

    & input[type="text"]{
        width: 50%;
        height: 50px;
        background:none;
        outline: none;
        border: none;
        text-align: center;
        color: white;
        backdrop-filter: blur(10px);
        box-shadow:  0px 0px 3px rgb(0, 0, 99);
        border-radius: 10px;
        backdrop-filter: blur(30px);

         &::placeholder{
            font-size: 11px;
            letter-spacing: 1px;



         }
        &:focus{
          box-shadow: 0px 0px 5px rgb(0, 0, 255);
        }

    }

    &_age{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        & input{
            width: 50px !important;
            height: 50px !important;
        }
   }

}

.infoline{
  min-height: 200px;
  width: 100vw;
  border-radius: 10px;
  padding: 20px 0;  
  background-color: rgb(5, 5, 5 );

  &_container{
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    margin:0 auto;
  }

  &_card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    width: 150px;
    height: 150px;
     position: relative;
    // &:after{
    // position: absolute;
    // content: '';
    // width: 1px;
    // height: 100px;
    // background-color: rgb(46, 46, 46);
    // right: -50%;
    // }

     & h4{
      font-size: 3rem;
     }
     & p{
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: gray;
      text-transform: uppercase; 
     }
  }
}






@keyframes aboutcard{
  0% {
    box-shadow: 0 2px 25px rgba(255, 0, 0, 0.7),
    0 -2px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  25% {
    box-shadow: 2 0px 35px rgba(255, 0, 0, 0.7),
    -2px 0px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  50% {
    box-shadow: 0 -2px 25px rgba(255, 0, 0, 0.7),
    0 2px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  75% {
    box-shadow: -2px 0 35px rgba(255, 0, 0, 0.7),
    2 0 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }
  100% {
    box-shadow: 0 2px 25px rgba(255, 0, 0, 0.7),
    0 -2px 25px rgba(0, 3, 248, 0.7); /* Красная тень */
  }

}

@keyframes linetoleft{
        0%{
          transform: translateX(300px);
        }
        100%{
          transform: translateX(-35vw);
        }
      }
@keyframes linetoright{
        0%{
          transform: translateX(-300px);
        }
        100%{
          transform: translateX(35vw);
        }
      }
@keyframes blinkbot{
        0%{
          opacity: 0;
        }
        40%{
          opacity: 0;
        }
        50%{
          opacity: 1;
        }
        90%{
          opacity: 1;
        }
        100%{
          opacity: 0;
        }
      }
@keyframes lineforinfo{
  0%{
    transform: translateY(0);
    opacity: 0;

  }
  50%{
    opacity: 1;
  }
  100%{
    transform: translateY(25vh);
    opacity: 0;
  }
}
@keyframes infinityPath {
          0% {
              opacity: 1;
            transform: translate(-50%, 0) rotate(0deg) scale(5); /* Начало анимации */
            bottom: -100px;
            left: 50%;
          }
          25% {
              opacity: 1;
            transform: translate(200px, -200px) rotate(180deg) scale(3); /* Четверть пути */
            bottom: 50%;
            left: 50%;
          }
          50% {
              opacity: 1;
            transform: translate(0, -100%) rotate(360deg) scale(2); /* Половина пути */
            bottom: 100%;
            left: 50%;
          }
          75% {
              opacity: 1;
            transform: translate(-200px, 200px) rotate(540deg)  scale(1); /* Три четверти пути */
            bottom: 50%;
            left: 50%;
            opacity: 1;
          }
          100% {
            transform: translate(0, 0) rotate(0deg)  scale(1) translateX(-50%); /* Завершающий цикл */
            bottom: 0;
            left: 50%;
            opacity: 0.5;
          }

        }
@keyframes fade{
          0%{
            transform: scale(1.2);
            opacity: 0;
          }
      50%{
        transform: scale(1);
      }
          100%{

            opacity: 1;
          }
        }
@keyframes line{
    0%{
      transform: translateY(-50px);
    }

    70%{
        transform: translateY(700px);
        opacity: 1;
    }
    100%{
        transform: translateY(800px);
        opacity: 0;
    }
}
@keyframes blink{
    0%{
        transform: translateY(-50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes rotating{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes rise{
 0%{
    transform: translateY(0);
    opacity: 1;
 }
50%{
    transform: translateY(-50vh);
}
 100%{
    transform: translateY(-100vh);
    opacity: 0;
 }


}
@keyframes slowUp{
    0%{
        opacity: 1;
        width: 2px;
        height: 40vh;
        transform: translateY(80vh);
    }70%{
        opacity: 1;
        width: 2px;
        height: 40vh;
        transform: translateY(0);
    }
    100%{
      height: 100vh;
      width: 1px;
    }
}
@keyframes choise{
    0%{
        width: 50vw;
        background-color: black;

        }
        30%{
            width: 100vw;
            background-color: black;
            position: fixed;
            left: 0;
            top: 0;
        }
    50%{
        width: 100vw;
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;

    }

    70%{
        color: white;
        font-size: 20px;
    }
    100%{
        width: 100vw;
        background-color: black;
        position: fixed;
        left: 0;
        top: 0;

       font-size: 30rem;
        color: black;

    }


}
@keyframes blur{
    0%{
        backdrop-filter: blur(150px);
    }
    25%{
        backdrop-filter: blur(50px);
    }
    70%{
        backdrop-filter: blur(150px);
    }


    90%{
        backdrop-filter: blur(5px);
    }
    100%{
        backdrop-filter: blur(75px);
    }
}
@keyframes linetoout{
  0%{
    transform: translateX(-10vw);
  }
  100%{
    transform: translateX(300vh);
  }
}
@keyframes metallic{
  
  0%{
    opacity: 0;
    transform: translateX(0);
  }
  10%{
    opacity: 1;
  }
  90%{
    opacity:1;
  }
  100%{
    opacity: 0;
    transform: translateX(150px);
  }
}
@keyframes linetobottom{
  0%{
    transform: translateY(-10vh);
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  100%{
    transform: translateY(160vh);
    opacity: 0;
  }
}





@media screen and (max-width:600px){

   
   .starcode{
   .bot{
    position: fixed;
    z-index: 1001 !important;

   }
   .form{
    position: fixed;
    width: 100vw;
    top: 0;
    left: calc(50% - 48vw);
   }


     &_about{



  &_head{
    height: 25vh;

    &_heading{
      font-size: 1.5rem;
      width: 200px;
      text-align: left;
      & p{
        text-align: left;
        font-size: 0.7rem;
      }
     }

  }

      &_box{
            width: 100px;
            height: 100px;

            & span{
              transform: rotateY(calc(var(--i) *45deg)) translateZ(180px);
              width: 90px;
              height: 90px;
              
              & img{
                width: 40px;
                height: 40px;
                left: calc(50% - 20px);
                top: calc(50% - 20px);
              }
            }
          }

      &_modules{
        margin-top: 100px;
        margin-bottom: 100px;
         gap: 100px;
        flex-direction: column;

        &::after{
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          z-index: -1;
          height:10%;
          border-radius: 50%;
          box-shadow: 0px 0px 5px 2px blue;
          width: 1px;
          background: blue;
          animation: linetobottom 2s infinite;
        }


      }




     }

  &_info{
    
    &_head{
     padding: 10px;
     text-align: center;
     font-size: 2rem;
     
     & p{
      text-align: center;
      font-size: 1rem;
     }
   
    }

    &_cardcontainer{
      flex-direction: column;
    }
 
  }

    &_main{
      min-height: 90vh;
      background-image: radial-gradient(ellipse 100px 600px at top ,rgba(0, 0, 255, 0.932),transparent),
      radial-gradient(ellipse 200px 200px at 50% 60% ,rgb(0, 0, 255),black,transparent );
      position: relative;


        &::after{
        position: absolute;
        top: 0;
        height:800px;
         }



    }

     &_heading{

        font-size: 4rem;
        &_design{
            width: 50px;
        }
    }

     &_title{
        width: 220px;
        text-align: center;
        font-size: 0.7rem;
     }

     &_start{
        font-size: 0.8rem;
        height: 45px;
        width: 140px;
         border-radius: 5px;
       
     }
     
     &_footer{
      &_map{
        &_address{
          &_title{
            font-size: 1rem;
          }
          & address{
            font-size: 0.7rem;
          }
  
   
        }
      }

      &_info{
        min-height: 50vh;
          flex-wrap: wrap;
          flex-direction: column;
          align-items: center;

          &_contacts{
           
          }
      } 
     }


   }
  .chart{
    & h3{
      text-align: center;
    }

    &_title{
      font-size: 1rem;
      width: 90vw;
    }
  }

   .infoline{
    display: flex;
    min-height: 100vh;
   
    &_container{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
   }

  


}