
// :root{
//   --main-color:black;
  
// }

.main{
  background-color: black;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.push{
  position:relative;
  font-size: 25px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
 
  width: 300px;
  height: 100px;
  border: 1px solid white; 
  z-index: 1000 !important;
  text-align: center;
  align-content: center;
  border-radius: 10px;
  
  border: none;
  background: none;
  outline: none;
  animation: show 8s 1  forwards;
  color: white;

}

.gradient_ball {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
 
  animation: move-gradient 8s 1 linear forwards;
  box-shadow: 0 0 50px 20px rgba(255, 255, 255, 0.3);
}




/* edumode -starcode*/


@keyframes show{
  0%{
    opacity: 0;
  }
  55%{
    opacity: 0;
  }
  60%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }

}
@keyframes move-gradient {
 
0%{ 
  transform: translateY(60vh);
  width: 30px;
  height: 30px;  filter: opacity(0);
}
40%{
   width: 30px;
   height: 30px;
   transform: translateY(0);
  }
50%{
  width: 200px;
  height: 200px;
  filter: opacity(1);
}
85%{
  transform: translateY(0);
}
90%{
transform: translateY(-50px);

}
100%{
  transform: translateY(100vh);
  opacity: 0;
}



}

